* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    height: 150em;
    background-image: url("images/whitefoxartgood.png");
    background-color: #2c72ce;
    background-repeat: repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
}

#menu {
    background-color: #fc8284;;
    width: 100%;
    height: 8em;
    position: absolute;
    
}

#menu h1 {
    font-family: 'Archivo Black', sans-serif;
    color: #fcf8f8;
    margin-left: 10%;
    font-size: calc((1.2 - 1) * 1.2vw + 2rem);
    margin-top: 1.1em;  
    
}

#menu h1 a {
    text-decoration: none;
    color: white;
}

#instalogo {
    float: right;
    height: 2em;
    margin-right: 10%;
    margin-top: -3%;
} 

#twitterlogo {
    float: right;
    height: 2em;
    margin-right: 5%;
    margin-top: -3%;
} 


.heheprice{
    position: absolute;
    top: 18vh;
    left: 60%;
    transform:translate(-50%,-50%);
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 251, 251);
    letter-spacing: 2px;
    font-size: 20px;


}
.heheprice:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fc8284;
    z-index: -1;
    transition: transform 0.5s;
transform-origin: bottom right;
transform: scale(0);


}
.heheprice:hover:before
{
    transition: transform 0.5s;
    transform-origin: top left;
transform: scale(1);


}
.heheprice:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    
    z-index: -1;
    transition: transform 0.5s;
transform-origin: top left;
transform: scale(1);



}
.heheprice:hover:after{
transition: transform 0.5s;
transform-origin: bottom right;
transform: scale(0);


}

.heheprice2{
    position: absolute;
    top: 18vh;
    left: 40%;
    transform:translate(-50%,-50%);
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 251, 251);
    letter-spacing: 2px;
    font-size: 20px;


}
.heheprice2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fc8284;
    z-index: -1;
    transition: transform 0.5s;
transform-origin: bottom right;
transform: scale(0);


}
.heheprice2:hover:before
{
    transition: transform 0.5s;
    transform-origin: top left;
transform: scale(1);


}
.heheprice2:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    
    z-index: -1;
    transition: transform 0.5s;
transform-origin: top left;
transform: scale(1);



}
.heheprice2:hover:after{
transition: transform 0.5s;
transform-origin: bottom right;
transform: scale(0);


}

.nopurpole:visited {
    text-decoration: none;
    color: white;
}

#firstArt {
    width: 100%;
}


.foxedDiv
{
    display:none; 
    position: absolute; 
    margin-top: 75vh;
    margin-left: 16%;
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
    color: white;
    font-family: 'Archivo Black', sans-serif;
}

.foxedDiv .fistth1 {
    font-size: 3em;
}

.foxedDiv .fistth2 {
    font-size: calc((1.2 - 1) * 1.2vh + 1.5rem);
    margin-left: 15%;
}

.foxedDiv .fistth3 {
    font-size: calc((1.2 - 1) * 1.2vh + 1.2rem);
    margin-top: 5%;
}



.footerdiv {
    position: absolute;
    padding-top: 82%;
    z-index: -1;
}

footer .footerh1 {
    text-align: center;
    font-size: 2.6vw;
}
footer .footerh2 {
    text-align: center;
    font-size: 2.6vw;
}
footer .footerh3 {
    text-align: center;
    font-size: 2.6vw;
}
footer .footerh4 {
    margin-top: 5%;
    text-align: center;
    font-size: 1.4vw;
    margin-left: 5%;
    margin-right: 5%;
}
@media (max-height: 1065px) {
    .heheprice{
        position: absolute;
        top: 22vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 810px) {
    .heheprice{
        position: absolute;
        top: 26vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 670px) {
    .heheprice{
        position: absolute;
        top: 32vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 570px) {
    .heheprice{
        position: absolute;
        top: 38vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 460px) {
    .heheprice{
        position: absolute;
        top: 44vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 390px) {
    .heheprice{
        position: absolute;
        top: 55vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 315px) {
    .heheprice{
        position: absolute;
        top: 63vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-width: 980px) {
    .heheprice {
        left: 65%;
    }
}

@media (max-width: 709px) {
    .heheprice {
        left: 70%;
    }
}

@media (max-width: 567px) {
    .heheprice {
        left: 75%;
    }
}

@media (max-width: 465px) {
    .heheprice {
        left: 76%;
    }
}



@media (max-width: 980px) {
    .heheprice2 {
        left: 35%;
    }
}

@media (max-width: 709px) {
    .heheprice2 {
        left: 30%;
    }
}

@media (max-width: 567px) {
    .heheprice2 {
        left: 28%;
    }
}

@media (max-width: 465px) {
    .heheprice2 {
        left: 25%;
    }
}

@media (max-height: 1065px) {
    .heheprice2{
        position: absolute;
        top: 22vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 810px) {
    .heheprice2{
        position: absolute;
        top: 26vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 670px) {
    .heheprice2{
        position: absolute;
        top: 32vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 570px) {
    .heheprice2{
        position: absolute;
        top: 38vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 460px) {
    .heheprice2{
        position: absolute;
        top: 44vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 390px) {
    .heheprice2{
        position: absolute;
        top: 55vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-height: 315px) {
    .heheprice2{
        position: absolute;
        top: 63vh;
        transform:translate(-50%,-50%);
        padding: 1em 2em;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 251, 251);
        letter-spacing: 2px;
        font-size: 20px;
    
    
    }
}

@media (max-width: 1300px) {
    .footerdiv {
        padding-top: 110%;
    }
}

@media (max-width: 1000px) {
    .footerdiv {
        padding-top: 130%;
    }
}

@media (max-width: 830px) {
    .footerdiv {
        padding-top: 150%;
    }
}

@media (max-width: 713px) {
    .footerdiv {
        padding-top: 165%;
    }
}

@media (max-width: 645px) {
    .footerdiv {
        padding-top: 190%;
    }
}


@media (max-width: 479px) {
    .footerdiv {
        padding-top: 270%;
    }
}



@media (max-width: 1200px) {
    .foxedDiv .fistth1 {
        font-size: 2em;
    }
    
    .foxedDiv .fistth2 {
        font-size: calc((1.2 - 1) * 1.2vh + 1rem);
        margin-left: 15%;
    }
    
    .foxedDiv .fistth3 {
        font-size: calc((1.2 - 1) * 1.2vh + 0.7rem);
        margin-top: 5%;
    }

    
    
}

@media (max-width: 778px) {
    .foxedDiv .fistth1 {
        font-size: 1.5em;
    }
    
    .foxedDiv .fistth2 {
        font-size: calc((1.2 - 1) * 1.2vh + 0.7rem);
        margin-left: 15%;
    }
    
    .foxedDiv .fistth3 {
        font-size: calc((1.2 - 1) * 1.2vh + 0.5rem);
        margin-top: 5%;
    }
    
}

@media (max-width: 550px) {
    .foxedDiv .fistth1 {
        font-size: 1.5em;
    }
    
    .foxedDiv .fistth2 {
        font-size: calc((1.2 - 1) * 1.2vh + 0.7rem);
        margin-left: 5%;
    }
    
    .foxedDiv .fistth3 {
        font-size: calc((1.2 - 1) * 1.2vh + 0.5rem);
        margin-top: 5%;
    }

    .footerdiv {
        padding-top: 220%;
    }

    .foxedDiv
{
    display:none; 
    position: absolute; 
    margin-top: 75vh;
    margin-left: 6%;
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
    color: white;
    font-family: 'Archivo Black', sans-serif;
}
    
}

@media (max-width: 505px) {
    .foxedDiv .fistth1 {
        margin-left: -5%;
        font-size: 1.3em;
    }
    
    .foxedDiv .fistth2 {
        font-size: calc((1.2 - 1) * 1.2vh + 0.65rem);
        margin-left: 0%;
    }
    
    .foxedDiv .fistth3 {
        font-size: calc((1.2 - 1) * 1.2vh + 0.55rem);
        margin-top: 15%;
        margin-left: -10%;
    }

    .footerdiv {
        padding-top: 310%;
    }

    .foxedDiv
{
    display:none; 
    position: absolute; 
    margin-top: 75vh;
    margin-left: 0%;
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
    color: white;
    font-family: 'Archivo Black', sans-serif;
}
    
}

@media (max-height: 1110px) {
    

    .foxedDiv
{
    display:none; 
    position: absolute; 
    margin-top: 85vh;
    margin-left: 16%;
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
    color: white;
    font-family: 'Archivo Black', sans-serif;
}
    
}

@media (max-height: 990px) {
    

    .foxedDiv
{
    display:none; 
    position: absolute; 
    margin-top: 105vh;
    margin-left: 16%;
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
    color: white;
    font-family: 'Archivo Black', sans-serif;
}
    
}
@media (max-height: 796px) {
    

    .foxedDiv
{
    display:none; 
    position: absolute; 
    margin-top: 120vh;
    margin-left: 16%;
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
    color: white;
    font-family: 'Archivo Black', sans-serif;
}
    
}
@media (max-height: 696px) {
    

    .foxedDiv
{
    display:none; 
    position: absolute; 
    margin-top: 140vh;
    margin-left: 16%;
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
    color: white;
    font-family: 'Archivo Black', sans-serif;
}
    
}

@media (max-height: 596px) {
    

    .foxedDiv
{
    display:none; 
    position: absolute; 
    margin-top: 160vh;
    margin-left: 16%;
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
    color: white;
    font-family: 'Archivo Black', sans-serif;
}
    
}

@media (max-width: 1183px) {
    #twitterlogo {
        margin-top: 1%;
    }

    #instalogo {
        margin-top: 1%;
    }
}